.redes{
  display: flex;
  align-content: space-around;
  justify-content: center
}

.red:hover svg {
  fill: red !important;
}
  img{
     width: calc(25px + .7vw);
  }
  .red{
     margin: .3rem .5rem;
  }

  .imgFooter:hover{
border-radius: 50%;
border: 2px solid white;
  }
  span{
    width:calc(24px + .7vw);
    height:calc(24px + .7vw);
     }

.red:hover svg path,
.red:hover svg polyline,
.red:hover svg circle {
  stroke: #89c5e9;
}
