<div class='redes'>
     <span class='red'>
        <a target='blanck' href='https://www.facebook.com/profile.php?id=100009817426057'>
        <img class='imgFooter' src='/assets/redes/facebook.png' id='facebook'></a>
     </span>

     <span class='red'>
        <a target='blanck' href='https://github.com/JulioLaz'>
        <img class='imgFooter' src='/assets/redes/github.png' id='github'></a>
     </span>

     <span class='red'>
        <a target='blanck' href='https://www.linkedin.com/in/julio-lazarte-349468248?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BubU1fpKpQi6Kp7t%2FBq5AtA%3D%3D'>
        <img class='imgFooter' src='/assets/redes/linkedin.png' id='linkedin'></a>
     </span>

     <span class='red'>
        <a target='blanck' href='https://twitter.com/home'>
        <img class='imgFooter' src='/assets/redes/twitter.png' id='twitter'></a>
     </span>
</div>

  <!-- <div>
     <span>
        <p id='copyright'>Autor: Julio A. Lazarte - Argentina - Agradecimientos : 'ALURA TEAM'</p>
           <p id='copyright'>&copy Copyright - AHORCADO / 2022</p>
     </span>
  </div>

  <span class='red' id="alura">
    <a target='blanck' href='https://www.aluracursos.com/'><img class='imgFooter' src='/assets/redes/alura.png' id='alura'></a>
 </span> -->
