  <div class=" footer">
    <div>
      <span>
        <p class='copyright'>Autor: Julio A. Lazarte - Tucumán/Argentina</p>
        <p class='copyright'>Agradecimientos: "ARGENTINA PROGRAMA TEAM"</p>
        <p class='copyright'><span style="font-size:1.5em ;">©️</span> Copyright - PORTAFOLIO / 2022</p>
      </span>
      <app-redes-sociales></app-redes-sociales>
   </div>
</div>
  <!-- <span class='red' id="alura">
    <a target='blanck' href='https://www.aluracursos.com/'><img class='imgFooter' src='/assets/redes/alura.png' id='alura'></a>
 </span> -->
