.copyright{
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-size: calc(.5rem + 0.45vw);
  color:white;
  text-align: center;
  margin:0.3rem 0;

}

.footer{
  background: black;
  border-top: 2px solid grey;
  color: white;
  padding: .5rem;
  width: 100%;
}
