<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>nueva contraseña</title>
</head>

<body>
  <section class="vh-100"
  style="background-image: url(../../../assets/fondo.jpg);  background-size: cover;"
  >
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem">
            <div class="card-body p-5 text-center">
                <div style="display: flex;flex-direction: row;">
                    <div class="spinner-grow text-primary" role="status" *ngIf="spinerBtn"></div>
                    <p class="mb-2" style="margin-left: 10px;color: dodgerblue;font-weight: 700;font-size: x-large;">
                      CREA TU NUEVA CONTRASEÑA
                    </p>
                </div>
              <button type="button" class="btn-close btn_position_home"  aria-label="Close" routerLink="/"></button>

              <hr class="my-4" />

              <form #f="ngForm" (ngSubmit)="onChangePassword();spinerBtn = false" novalidate>
                <div class="form-outline mb-4">
                  <label class="form-label" for="password">Contraseña</label>
                  <input type="password" id="password" class="form-control form-control-lg" name="password"
                    [(ngModel)]="password" required />
                </div>
                <div class="form-outline mb-4">
                  <label class="form-label" for="confirmarpassword">Confirmar contraseña</label>
                  <input type="password" id="confirmarpassword" class="form-control form-control-lg" name="confirmarpassword"
                    [(ngModel)]="confirmPassword" required />
                </div>


                <div style="display: flex;justify-content: center;">
                  <button type="submit" style="width: 100%;" class="btn btn-outline-primary btn-lg" ngClick="Submit">
                    <div style="display: flex;justify-content: space-evenly;">
                      <!-- <div class="spinner-grow" *ngIf="spinerBtn"></div> -->
                      <span *ngIf="spinerBtn">Cambiar contraseña</span>
                      <div *ngIf="!spinerBtn">
                        <span class="spinner-border" role="status" aria-hidden="true"></span>
                        Cambiar contraseña...
                      </div>
                    </div>
                  </button>
                </div>

              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
</html>
