.caja{
   width: 30vw;
   height: 30vh;
   border: 1px solid black;
   }

   #fondo{
     overflow-x:hidden;
     background-color:rgb(38, 82, 121);
   }
   [id]{
     scroll-margin-top: 130px;
   }
   @media screen and (min-width:850px){
     [id]{
     scroll-margin-top: 105px;
    }
   }

   .blur {
    filter: blur(5px);
    pointer-events: none;
  }

  .show {
    pointer-events: auto;
  }
