.caja{
   width: 30vw;
   height: 30vh;
   border: 1px solid black;
   }

   #fondo{
     overflow-x:hidden;
     /* background: url(../assets/matrixrojo.gif);
     background-size: contain; */
     background-color: rgb(127, 166, 198);
   }
   [id]{
     scroll-margin-top: 130px;
   }
   @media screen and (min-width:850px){
     [id]{
     scroll-margin-top: 105px;
    }
   }
