.bgCardFondo{
  background: rgba(22, 22, 22, 0.9);
  color: antiquewhite;
  border: 1px solid grey;
  margin: 0 1rem;
}
.bgCard{
  display: flex;
  color: rgb(190, 171, 148);
  background: rgba(60, 60, 60, 0.5);
  width: 350px;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border: 1px solid grey;

}
.bgCard:hover{
  background: rgba(141, 131, 131, 0.6);
  color:antiquewhite;
  transition:0.5s
}
.centrado{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fsCalc{
  font-size: calc(.7rem + .6vw);
}
.cardImg{
  display: flex;
  margin-top: 5px;
  width: auto;
  height: 300px;
  border: 1px solid grey;
  border-radius: .5rem;
  border-radius: .5rem;
  align-items: center;
  background-color: rgba(22, 22, 22, 0.9);
}
.imagen{
  padding:1px;
  height: 300px;
  border-radius: .5rem;
}
.logo_alura_latam{
  padding: 1rem;

}
.h3Center{
  text-align: center;
  padding-bottom: .5rem;
  margin: 0;
  border-bottom: 1px solid grey;
}
.text{
  display: flex;
  justify-content: center;
  font-size: calc(.8rem + .6vw);
  text-align: center;
  color: rgb(189, 186, 182);
  /* text-shadow: 1px 2px 2px grey; */
}
.autor{
  display: flex;
  justify-content: end;
  padding: 0 1rem;
  font-size: calc(.8rem + .6vw);
  font-style: normal;
}
