.bgCardFondo{
  background: rgba(22, 22, 22, 0.6);
  border: 1px solid grey;
  margin: 0 1rem;
  font-family:sans-serif;
}
.bgCard{
  color: white;
  background: rgba(60, 60, 60, 0.5);
  width: 270px;
  height: 460px;
  border: 1px solid grey;
  font-weight: 300;
  margin:1rem;
}
.cardBase{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;

}
.bgCard:hover{
  background: rgba(141, 131, 131, 0.6);
  color:antiquewhite;
  transition:0.5s
}
.centrado{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fsCalc{
  font-size: calc(.6rem + .5vw);
}
.cardImg{
  display: flex;
  margin-top: 5px;
  width: auto;
  height: 230px;
  border: 1px solid grey;
  border-radius: .5rem;
  align-items: center;
  background-color: rgba(22, 22, 22, 0.9);
}
.imagen{
  padding:1px;
  height: 230px;
  border-radius: .5rem;
}
.logo_alura_latam{
  padding: 1rem;
  width: 230px;
  height: 220px;

}
.h3Center{
  font-size: calc(1rem + .7vw);
  text-align: start;
  padding-bottom: 8px;
  border-bottom: 1px solid grey;
  margin: 0;
  color: white;
}
.text{
  display: flex;
  justify-content: center;
  font-size: calc(.8rem + .6vw);
  text-align: center;
  color: rgb(189, 186, 182);
  margin-top: 1rem;
  padding-top: .5rem;
}
.autor{
  color: whitesmoke;
  display: flex;
  justify-content: end;
  padding:.5rem;
  font-size: calc(.8rem + .6vw);
  font-style: normal;
}
.btnBgEdit{
  fill: grey;
}

.btnBgEdit:hover{
  fill: blue;
  background-color:rgb(190, 187, 187);
}
.btnBgDelete{
  fill: grey;
  background-color: rgba(0, 0, 0, .6);

}

.btnBgDelete:hover{
 fill: red;
 background-color: rgba(65, 46, 46, 0.9);
}
@media screen and (min-width:450px){
  .h3Center{
    text-align: center;
    margin: .5rem 0;
  }

}
.imgEdit{
  position: absolute;
  right: 1.5rem;
  top: 1rem;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .8);

}
.imgDelete{
  right: 2rem;
  position: absolute;
  top: 3.5rem;
  border-radius: 5px;
  z-index: 999;
  background-color: rgba(0, 0, 0, .8);
}
.btn_delete_position_Title{
  position:absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.btn_delete_position_Card{
  position:absolute;
  top: 3.5rem;
  right: 1.5rem;
}
