<body>
<div class="container">
  <div class="row">
      <div style="display: flex;justify-content: center;">
          <!-- <form (ngSubmit)="onCreate()" novalidate  style="position: relative;;margin-top: 5rem; width: 60vw;padding: 2.5rem; border:2px solid grey; border-radius: .5rem;"> -->
          <form (ngSubmit)="onCreate()" novalidate #f="ngForm" style="background-color: lightblue;position: relative;;margin-top: 5rem; width: 60vw;padding: 2.5rem; border:2px solid grey; border-radius: .5rem;">
           <div >
              <h2 style="text-align:center; border-bottom: 2px solid grey;font-size: 1.5rem;padding-bottom: .5rem;">NUEVA FORMACION</h2>
              <button class="btn btn-outline-primary btn-sm btn_position_home" routerLink="/">Volver</button>
           </div>
              <div class="input-group mb-3">
                 <label class="texto_casillero input-group-text" id="inputGroup-sizing-default" for="nombreE">Institución:</label>
                 <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                 id="schoolE" name="schoolE" [(ngModel)]="schoolE" required onkeydown="return /[a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)" placeholder="Universidad">
              </div>
              <div class="input-group mb-3">
                 <label class="texto_casillero input-group-text" id="inputGroup-sizing-default" for="titleE">Título:</label>
                 <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                 id="titleE" name="titleE" [(ngModel)]="titleE" required onkeydown="return /[a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)" placeholder="Medico">
              </div>
              <div class=" input-group mb-3">
                 <label class=" texto_casillero input-group-text" id="inputGroup-sizing-default" for="timeE">Duración:</label>
                 <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                 id="timeE" name="timeE" [(ngModel)]="timeE" required onkeydown="return /[0-9a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)" placeholder="6 años">
              </div>
              <div class=" input-group mb-3">
                 <label class=" texto_casillero input-group-text" id="inputGroup-sizing-default" for="startE">Inicio:</label>
                 <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                 id="startE" name="startE" [(ngModel)]="startE" required onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="4" size="5" placeholder="1978">
              </div>
              <div class=" input-group mb-3">
                 <label class=" texto_casillero input-group-text" id="inputGroup-sizing-default" for="endE">Fin:</label>
                 <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                 id="endE" name="endE" [(ngModel)]="endE" required onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="4" size="5" placeholder="2022">
              </div>
              <div class=" input-group mb-3">
                 <label class=" texto_casillero input-group-text" id="inputGroup-sizing-default" for="estadoE">Estado:</label>
                 <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                 id="estadoE" name="estadoE" [(ngModel)]="estadoE" required onkeydown="return /[0-9a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)" placeholder="Cursando">
              </div>
              <div class=" input-group mb-3">
                 <label class=" texto_casillero input-group-text" id="inputGroup-sizing-default" for="cityE">Ciudad:</label>
                 <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                 id="cityE" name="cityE" [(ngModel)]="cityE" required onkeydown="return /[a-zA-ZñÑá-úÁ-Ú, ]/i.test(event.key)" placeholder="Tucumán, Argentina">
              </div>
              <div class=" input-group mb-3">
                 <label class=" texto_casillero input-group-text" id="inputGroup-sizing-default" for="imgE">URL de imagen:</label>
                 <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                 id="imgE" name="imgE" [(ngModel)]="imgE" required placeholder="Http://....">
              </div>
              <div style="display: flex;justify-content: center;">
                <button type="submit" class="btn btn-primary">Guardar cambios</button>
              </div>
          </form>
      </div>
  </div>
</div>
</body>
