.bgCardFondo {
  background-color: rgba(217, 217, 186, 0.9);
  color: antiquewhite;
  border: 1px solid grey;
}

.bgCard {
  display: flex;
  color: whitesmoke;
  background: rgba(60, 60, 60, 0.5);
  flex-wrap: nowrap;
  justify-content: space-evenly;
  border: 1px solid grey;

}

.fsCalc {
  font-size: calc(.9rem + .6vw);
}

.h3Center {
  font-size: calc(1rem + 1vw);
  text-align: center;
  color: black;
  font-weight: 500;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
  margin: 1rem 0;
}

.h5Center {
  font-size: calc(.8rem + .7vw);
  padding: .3rem;

}

.texto_barra {
  font-size: calc(1rem + .6vw);
  color: green;

}

.text {
  display: flex;
  justify-content: center;
  font-size: calc(.8rem + .6vw);
  text-align: center;
  color: black;
  margin-top: 1rem;
  padding-top: .5rem;
}

.autor {
  color: rgba(19, 18, 18);
  display: flex;
  justify-content: flex-end;
  padding: .5rem;
  font-size: calc(.6rem + 1vw);
  font-style: normal;
}

.contenedor {
  display: flex;
  width: 80vw;
  height: calc(3rem + 1vw);
  border: 1px solid blue;
  border-radius: 5px;
}

.experiencia {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: auto;
}

.btn_position_new_title {
  display: flex;
  justify-content: flex-end;
}

.inicio {
  animation: crece 1.5s ease-in-out infinite;
  background: linear-gradient(90deg, whitesmoke 30%, rgb(50, 71, 187) 100%);
  border-radius: 5px;
  margin: 5px;
  padding: .5rem;
  text-align: start;
  width: 0;
  align-items: center;
  display: flex;
  color: black;
  font-weight: 700;

}

@keyframes crece {
  0% {
    width: 5rem
  }

  100% {
    width: 100%
  }
}

.color_barra {
  background: linear-gradient(90deg, rgba(238, 250, 2, 1) 30%, rgba(245, 18, 2, 1) 100%);
}

.btn_Edit_Card {
  fill: #0d6efd;
  color: #0d6efd;
}

.btn_Edit_Card:hover {
  background: rgb(234, 232, 232);
}

.btn_Delete_card {
  fill: red;
  color: red;
}

.btn_Delete_card:hover {
  background: white;
}

.div_btn_edit_frase {
  display: flex;
  justify-content: flex-end;
  margin: 8px;
}
