<body>
  <div class="container">
    <div class="row">
        <div style="display: flex;justify-content: center;">
            <!-- <form (ngSubmit)="onCreate()" novalidate  style="position: relative;;margin-top: 5rem; width: 60vw;padding: 2.5rem; border:2px solid grey; border-radius: .5rem;"> -->
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm" style="background-color: lightblue;position: relative;;margin-top: 5rem; width: 60vw;padding: 2.5rem; border:2px solid grey; border-radius: .5rem;">
             <div >
                <h2 style="text-align:center; border-bottom: 2px solid grey;font-size: 1.5rem;padding-bottom: .5rem;">NUEVO IDIOMA</h2>
                <button class="btn btn-outline-primary btn-sm btn_position_home" routerLink="/">Volver</button>
             </div>
                <div class="input-group mb-3">
                   <label class="texto_casillero input-group-text" id="inputGroup-sizing-default" for="nombreE">Idioma:</label>
                   <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                   id="schoolE" name="schoolE" [(ngModel)]="nombre" required onkeydown="return /[a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)" placeholder="HTML">
                </div>
                <div class="input-group mb-3">
                   <label class="texto_casillero input-group-text" id="inputGroup-sizing-default" for="porcentaje">Porcentaje::</label>
                   <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                   id="porcentaje" name="porcentaje" [(ngModel)]="porcentaje" required onkeydown="return /[0-9a-zA-ZñÑá-úÁ-Ú% ]/i.test(event.key)" placeholder="100%">
                </div>

                <div class=" input-group mb-3">
                   <label class=" texto_casillero input-group-text" id="inputGroup-sizing-default" for="imgURL">URL de imagen:</label>
                   <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                   id="imgURL" name="imgURL" [(ngModel)]="imgURL" required placeholder="Http://....">
                </div>
                <div style="display: flex;justify-content: center;">
                  <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
  </div>
  </body>

