<body>
  <div class="container">
    <div class="row">
        <div style="display: flex;justify-content: center;">
            <!-- <form (ngSubmit)="onCreate()" novalidate  style="position: relative;;margin-top: 5rem; width: 60vw;padding: 2.5rem; border:2px solid grey; border-radius: .5rem;"> -->
            <form (ngSubmit)="onCreate()" novalidate #f="ngForm" style="background-color: lightblue;position: relative;;margin-top: 5rem; width: 60vw;padding: 2.5rem; border:2px solid grey; border-radius: .5rem;">
             <div >
               <button class="btn btn-outline-primary btn-sm btn_position_home" routerLink="/">Volver</button>
                <h2 style="text-align:center; border-bottom: 2px solid grey;font-size: 1.5rem;padding:.5rem 0;">NUEVO PROYECTO</h2>
             </div>
                <div class="input-group mb-3">
                   <label class="texto_casillero input-group-text" id="inputGroup-sizing-default" for="proyectos">Proyecto:</label>
                   <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                   id="proyectos" name="proyectos" [(ngModel)]="proyectos" required onkeydown="return /[0-9a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)" placeholder="E-Commerce">
                </div>
                <div class="input-group mb-3">
                   <label class="texto_casillero input-group-text" id="inputGroup-sizing-default" for="descripcion">Descripcion:</label>
                   <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                   id="descripcion" name="descripcion" [(ngModel)]="descripcion" required onkeydown="return /[0-9a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)" placeholder="Tienda de Frutas">
                </div>
                <div class=" input-group mb-3">
                   <label class=" texto_casillero input-group-text" id="inputGroup-sizing-default" for="fecha">Fecha:</label>
                   <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                   id="fecha" name="fecha" [(ngModel)]="fecha" required onkeydown="return /[0-9a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)" placeholder="Enero 2022">
                </div>
                <div class=" input-group mb-3">
                   <label class=" texto_casillero input-group-text" id="inputGroup-sizing-default" for="imgProyecto">Estado:</label>
                   <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                   id="imgProyecto" name="imgProyecto" [(ngModel)]="imgProyecto" required placeholder="url: http//....">
                </div>
                <div class=" input-group mb-3">
                   <label class=" texto_casillero input-group-text" id="inputGroup-sizing-default" for="imgLenguaje">Estado:</label>
                   <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                   id="imgLenguaje" name="imgLenguaje" [(ngModel)]="imgLenguajes" required placeholder="url: http//....">
                </div>
                <div class=" input-group mb-3">
                   <label class=" texto_casillero input-group-text" id="inputGroup-sizing-default" for="urlProyecto">Estado:</label>
                   <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                   id="urlProyecto" name="urlProyecto" [(ngModel)]="urlProyecto" required placeholder="url: http//....">
                </div>
                <div style="display: flex;justify-content: center;">
                  <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
  </div>
  </body>
