<div class="card bgCardFondo">
    <div class="card-header" style="background-color: transparent;border: none; ">

      <!-- boton en TITULO Add proyecto-->
      <div class="btn_position_new_title" *ngIf="isLogged">
        <button type="button" class=" btn btn-outline-primary btn_addFormancion"
          routerLink="/newproyecto">
          Add proyecto
        </button>
      </div>

      <div class="card" style="background-color: transparent;border: none; ">
      <div class="card-body">
          <blockquote class="blockquote mb-0 " style="background-color: transparent ">
              <div class="container-centrado row centrado" >
                <div class=" card bgCard" style=" margin:.5rem;" *ngFor="let item of proyectos">
                  <div class="cardImg">
                    <a href={{item.urlProyecto}} target="_blank">
                      <img src={{item.imgProyecto}} class="card-img imagen">
                      <!-- <img src={{item.imgProyecto}} class="card-img imagen {{item.imgProyecto}}" alt={{item.alt}}> -->
                    </a>
                  </div>
                  <div class="card-body cajaTextos" >
                      <p class="txtTituloProyecto card text-bg-dark card-text text-center fw-bolder ">{{item.proyectos}}</p>
                      <p class="card-text text-center txtdecripcionProyecto ">{{item.descripcion}}</p>
                      <p class="card-text text-center txtdecripcionProyecto ">{{item.fecha}}</p>
                        <img src={{item.imgLenguajes}} class="card-img ">
                        <!-- <img src={{item.imgLenguajes}} class="card-img {{item.alt}}" alt={{item.alt}} > -->
                  </div>
                </div>
              </div>
                <hr>
                <footer *ngFor="let item of frases"  >
                  <cite class="text" title="Source Title">"{{item.proyectos}}"</cite>
                  <cite class="autor"> - {{item.proyectosAutor}}</cite>
                </footer>
                  </blockquote>
      </div>
    </div>
  </div>
</div>
