.r{
  width: auto;
  margin: 190px 1rem .5rem 1rem;
  border:1px solid rgb(72, 69, 69);
  border-radius: .5rem;
  color: antiquewhite;
  background-color: rgba(22, 22, 22, 0.9);
  padding: .8rem .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgAbout{
  width: 120px;
  }
.imgP{
  margin: 0;
  padding: .5rem 0;
}
.row{
  padding: .5rem 0;
}
.divCenter{
  padding-top: .5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.centrado{
  display: flex;

  justify-content: center;
  align-items: center;
}
@media screen and (min-width:850px){
         .r{
          margin-top: 95px;
        }
}
@media screen and (max-width:760px){
         .divCenter{
          display: flex;
          border-top: 1px solid grey;
          border-bottom: 1px solid grey;

        }
.r{
flex-direction: column;
justify-content: center;
}
}
@media screen and (min-width:759px){
         .divCenter{
          border-left: 1px solid grey;
          border-right: 1px solid grey;

        }
        .r{
flex-direction: row;
        }
}
