<div class="container-fluid cajaAbout" id="about">

  <!-- FOTO + NOMBRE  -->
  <div class="col-md-3 col-lg-2 text-center">
    <div class="caja_about_titulo">
      <img class="imgAbout" [src]="imagen" alt="URL imagen">
      <p class="imgP">{{persona.nombre}} {{persona.apellido}}</p>
    </div>
  </div>

  <!-- TITULO -->
  <div class=" col-md-4 col-lg-4  divCenter centrado">
    <div class="caja_about_titulo ">
      <div class="caja_titulo">
        <p>{{persona.title}}</p>
        <p>{{persona.edad}}</p>
        <p>{{persona.city}}</p>
      </div>
    </div>
  </div>

  <!-- SOBRE MI VIDA -->
  <div class="col-md-5 col-lg-6 caja_sobre_mi_vida">
    <div class="centrado row" style="margin:1rem">
      <div class="caja_sobre_mi_vida">
          <h3 class="text-center fs-5 " style="margin: .5rem 0">{{persona.titleAbout}}</h3>
      </div>
      <p class="text-center" style="padding:0 1rem;">{{persona.about}}</p>
    </div>
  </div>
  
</div>

  <!-- </div>
<form (ngSubmit)="onUpdate()" novalidate #f="ngForm" style="background-color: lightblue;position: relative;;margin-top: 5rem; width: 60vw;padding: 2.5rem; border:2px solid grey; border-radius: .5rem;"*ngIf="isLogged">
  <div >
     <h1 class="text-center fs-3 fw-bolder">PERSONA</h1>
     <h2 style="text-align:center; border-bottom: 2px solid grey;font-size: 1.5rem;padding-bottom: .5rem;">Modifique los campos</h2>
     <button type="button" class="btn-close btn_position_home"  aria-label="Close" routerLink="/"></button>

  </div>
     <div class="input-group mb-3">
        <span class="texto_casillero input-group-text" id="inputGroup-sizing-default" >Nombres:</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
        id="schoolE" name="schoolE" [(ngModel)]="persona.nombre" required >
     </div>
     <div class="input-group mb-3">
        <span class="texto_casillero input-group-text" id="inputGroup-sizing-default">Apellidos:</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
        id="titleE" name="titleE" [(ngModel)]="persona.apellido" required >
     </div>
     <div class=" input-group mb-3">
        <span class=" texto_casillero input-group-text" id="inputGroup-sizing-default" >URL de foto:</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
        id="img" name="img" [(ngModel)]="persona.img" required >
     </div>
     <div class=" input-group mb-3">
        <span class=" texto_casillero input-group-text" id="inputGroup-sizing-default" >Título:</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
        id="title" name="title" [(ngModel)]="persona.title" required onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="4" size="5">
     </div>
     <div class=" input-group mb-3">
        <span class=" texto_casillero input-group-text" id="inputGroup-sizing-default" >Edad:</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
        id="edad" name="edad" [(ngModel)]="persona.edad" required >
     </div>
     <div class=" input-group mb-3">
        <span class=" texto_casillero input-group-text" id="inputGroup-sizing-default" >Ciudad:</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
        id="city" name="city" [(ngModel)]="persona.city" required >
     </div>
     <div class=" input-group mb-3">
        <span class=" texto_casillero input-group-text" id="inputGroup-sizing-default" >Título Acerca de mi:</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
        id="titleAbout" name="titleAbout" [(ngModel)]="persona.titleAbout" required >
     </div>
     <div class=" input-group mb-3">
        <span class=" texto_casillero input-group-text" id="inputGroup-sizing-default" >Acerca de mi:</span>
        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
        id="about" name="about" [(ngModel)]="persona.about" required >
     </div>
     <div style="display: flex;justify-content: center;">
       <button type="submit" class="btn btn-primary">Guardar cambios</button>
     </div>
 </form> -->
