<div class="container-fluid cajaAbout">

  <div class="col-md-3 col-lg-2 text-center">
    <img class="imgAbout"  [src]="miPortfolio.foto" alt="foto_julio">
    <p class="imgP" >{{miPortfolio.nombre}}</p>
  </div>

  <div class=" col-md-2 col-lg-2  divCenter centrado">
    <div class="text-center">
      <p >{{miPortfolio.titulo}}</p>
      <p >{{miPortfolio.edad}}</p>
      <p >{{miPortfolio.ubicacion}}</p>
    </div>
  </div>

  <div class="col-md-7 col-lg-8 ">
    <div class="centrado row">
      <h3 class="text-center">{{miPortfolio.nombre}}</h3>
      <p class="text-center">{{miPortfolio.historia}}</p>
    </div>
  </div>

</div>


