.cajaAbout {
  background-color: rgba(217, 217, 186, 0.8);
  border: 1px solid grey;
  border-radius: .5rem;
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 120px 1rem 0 1rem;
  padding: .5rem .5rem;
  width: auto;
}

.imgAbout {
  width: 120px;
  height: 120px;
}

.imgP {
  margin: 0;
  padding: .5rem 0;
}


.centrado {
  align-items: center;
  display: flex;
  justify-content: center;
}

.imgEdit {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .8);
}

.imgEdit_titulo {
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .8);
}

.btnBgEdit {
  position: absolute;
  top: 5px;
  right: 0%;
  fill: grey;
  margin-right: .5rem;
}

.btn_edit_titulo {
  right: -12px;
}

.btnBgEdit:hover {
  fill: blue;
  background-color: rgb(190, 187, 187);
}

#inputP {
  width: 500px;
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
  white-space: initial;
}

.spanTitleModal {
  color: grey;
  font-size: 1rem;
  font-style: italic;
}

.modal_about_titulo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 5px;
}

.madal_label_edit {
  width: 3.5rem;
  height: 1.5rem;
  margin: .3rem 0;
  color: black;
}

.caja_titulo {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5px;
}

.caja_sobre_mi_vida {
  position: relative;

}

div {
  color: black;
  font-weight: 500;
}

.divCenter {
  border: none;
  /* width: 70%; */
  padding: 1rem;
  display: flex;
  justify-content: center;

}

.cajaAbout {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 170px;
}

.btn_posicion {
  /* position:absolute; */
  top: 10.5rem;
  right: 5rem;
}

@media screen and (min-width:850px) {
  .divCenter {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: none;
    border-bottom: none;
    /* width: auto; */
  }

  .cajaAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    margin-top: 95px;

  }

  .btn_posicion {
    /* position:absolute; */
    top: 6rem;
    right: 5rem;
  }
  hr {
    border-color: black !important;
    border-width: 2px !important;
    /* width: 100% !important */

  }
}

.div_btn_edit_frase {
  display: flex;
  justify-content:flex-end;
  margin: 8px;
}

.btn_Edit_Card {
  fill: #0d6efd;
  color: #0d6efd;
}


