<body>
  <div class="container" style="display: flex;justify-content: center;width: 60vw;position: relative;top: 2rem;">
      <div class="list-group" style="width:inherit;">
        <div type="text" class="list-group-item active" style="display: flex; justify-content: space-between;">
          Delete usuario
          <button type="button" class="btn-close btn_position_hom" aria-label="Close" routerLink="/"></button>
        </div>
        <div *ngFor="let item of usuario">
          <button type="button" class="list-group-item list-group-item-action"
          *ngIf="item.id!=1"
          role="button"
          data-bs-toggle="dropdown"
            aria-expanded="false">
            <svg class="btnBgDelete btnWidth" id="imgdelete" x="0px" y="0px" width="calc(.8rem + .5vw)" viewBox="0 0 459 459"
              style="enable-background:new 0 0 459 459;" xml:space="preserve">
              <g>
                <path
                  d="M229.5,0C102.751,0,0,102.751,0,229.5S102.751,459,229.5,459S459,356.249,459,229.5S356.249,0,229.5,0z M307.105,271.629    c9.797,9.797,9.797,25.68,0,35.477c-4.898,4.898-11.318,7.347-17.738,7.347c-6.42,0-12.84-2.449-17.738-7.347L229.5,264.977    l-42.128,42.129c-4.898,4.898-11.318,7.347-17.738,7.347c-6.42,0-12.84-2.449-17.738-7.347c-9.797-9.796-9.797-25.68,0-35.477    l42.129-42.129l-42.129-42.129c-9.797-9.797-9.797-25.68,0-35.477s25.68-9.797,35.477,0l42.128,42.129l42.128-42.129    c9.797-9.797,25.68-9.797,35.477,0c9.797,9.796,9.797,25.68,0,35.477l-42.13,42.129L307.105,271.629z" />
              </g>
            </svg>
            {{item.id}} - {{item.nombre}}
          </button>
          <div>
            <button type="button" class="dropdown-menu btn btn-danger"
              style="width:auto; padding: 0.5rem;text-align: center;" (click)="delete(item.id)">
              Eliminar - {{item.id}} - {{item.nombre}}
            </button>
          </div>
        </div>
        <div type="text" class="list-group-item active" style="text-align: center;">selecciona el usuario para eliminar</div>
      </div>

    </div>
  </body>
