<nav class=" bg-black ">
  <div class="navBarMy">
    <div class="">
      <a href="https://argentinaprograma.inti.gob.ar/" target="_blank" class="">
        <img src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1668983675/Dise%C3%B1o%20sin%20t%C3%ADtulo%20%2817%29.png/" alt="">
      </a>
      </div>
      <div class="yoProg centrar">
        <p class="pulso">#Yo Programo</p>
      </div>
      <div class="  cajaRedesLogin" style="display: flex;justify-content: end;margin:0 1.2rem;align-items: center;">
          <app-redes-sociales></app-redes-sociales>
          <button type="button" class="btn btn-outline-secondary  btn-sm"
          style="text-decoration:none; color:white" (click)="login()" *ngIf="!isLogged">
            Login
          </button>
          <button type="button" class="btn btn-outline-secondary  btn-sm btnBg"  style="text-decoration:none; color:white ;" (click)="onLogOut()" *ngIf="isLogged">
            Cerrar sesión
          </button>
          <app-dropdowns-header></app-dropdowns-header>
      </div>
  </div>
</nav>

