.imgArgProg{
  max-width: 320px;
  margin: .5rem .5rem;
}
.imgArgProg:hover{
  border-radius: .5rem;
  background: rgb(92, 127, 199);
}
nav{
  position:fixed;
  width: 100%;
  z-index: 9999;
}

@keyframes pulso{
  0%{
    color: whitesmoke;
     transform: scale(1.1);
  }
  50%{
     transform: scale(.9);
  }
  100%{
     transform: scale(1.1);
  }
  }
  .pulso{
    font-size: 1.5rem;
     animation: pulso 1.5s linear infinite;
 }

  .navBarMy{
  align-items: center;
  background-image: url(../../../assets/fondo.jpg);
  border-bottom:2px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

@media screen and (min-width:850px){
      .navBarMy{
        align-items: center;
        border-bottom:2px solid grey;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
            }
}
.yoProg{
  font-size: 2rem;
  width: 20rem;
}
.centrar{
  display: flex;
  justify-content: center;
}

