<nav class=" bg-black ">
  <div class="navBarMy">
    <div class="">
      <a href="https://argentinaprograma.inti.gob.ar/" target="_blank" class="">
        <img class="imgArgProg" [src]="miPortfolio.imgArentinaPrograma" alt="logo Argentina Programa" >
      </a>
      </div>
      <div class="yoProg centrar">
        <p class="pulso">#Yo Programo</p>
      </div>
      <div class="  cajaRedesLogin" style="display: flex;justify-content: end;margin:0 1.2rem;align-items: center;">
          <app-redes-sociales></app-redes-sociales>
          <button type="button" class="btn btn-outline-secondary  btn-sm btnBg"  style="text-decoration:none; color:grey ;" (click)="login()" *ngIf="!isLogged">
            Login
          </button>
          <button type="button" class="btn btn-outline-secondary  btn-sm btnBg"  style="text-decoration:none; color:grey ;" (click)="onLogOut()" *ngIf="isLogged">
            Cerrar sesión
          </button>
          <!-- <app-button></app-button> -->
          <app-dropdowns-header></app-dropdowns-header>
      </div>
  </div>
</nav>

