<body>
  <div class="container" *ngIf="expLab">
    <div class="row">
      <div style="display: flex;justify-content: center">
        <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" style="background-color: lightblue;position: relative;;margin-top: 5rem; width: 60vw;padding: 2.5rem; border:2px solid grey; border-radius: .5rem;">
          <div >
            <h1 class="text-center fs-2 fw-bolder">Experiencia laboral</h1>
            <h2 style="text-align:center; border-bottom: 2px solid grey;font-size: 1.5rem;padding: .5rem ;color: darkblue;">Modifique los campos</h2>
            <button type="button" class="btn-close btn_position_home"  aria-label="Close" routerLink="/"></button>
          </div>
          <div class="input-group mb-3">
                  <span class="texto_casillero input-group-text" id="inputGroup-sizing-default" >Empresa:</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                  id="nombreE" name="nombreE" [(ngModel)]="expLab.nombreE" required onkeydown="return /[a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)">
               </div>
               <div class="input-group mb-3">
                 <span class="texto_casillero input-group-text" id="inputGroup-sizing-default">Cargo:</span>
                 <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                 id="cargoE" name="cargoE" [(ngModel)]="expLab.cargoE" required onkeydown="return /[a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)">
                </div>
                <div class=" input-group mb-3">
                  <span class=" texto_casillero input-group-text" id="inputGroup-sizing-default" >Función:</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                  id="descripcionE" name="descripcionE" [(ngModel)]="expLab.descripcionE" required onkeydown="return /[a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)">
               </div>
               <div class=" input-group mb-3">
                  <span class=" texto_casillero input-group-text" id="inputGroup-sizing-default" >Inicio:</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                  id="startE" name="startE" [(ngModel)]="expLab.startE" required onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="4" size="5">
                </div>
               <div class=" input-group mb-3">
                 <span class=" texto_casillero input-group-text" id="inputGroup-sizing-default" >Fin:</span>
                 <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                 id="endE" name="endE" [(ngModel)]="expLab.endE" required onkeypress='return event.charCode >= 48 && event.charCode <= 57' maxlength="4" size="5">
                </div>
                <div class=" input-group mb-3">
                  <span class=" texto_casillero input-group-text" id="inputGroup-sizing-default" >Ciudad:</span>
                  <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                  id="cityE" name="cityE" [(ngModel)]="expLab.cityE" required onkeydown="return /[a-zA-ZñÑá-úÁ-Ú ]/i.test(event.key)" >
               </div>
               <div style="display: flex;justify-content: center;">
                 <button type="submit" class="btn btn-primary">Guardar cambios</button>
               </div>
           </form>
       </div>
   </div>
</div>
</body>
