.bgCardFondo{
  background: rgba(22, 22, 22, 0.6);
  border: 1px solid grey;
  color: antiquewhite;
  margin: 0 1rem;
  width:initial;
}

.bgCard{
  background: rgba(22, 22, 22, 0.1);
  padding: 5px;
  border: none;
}
.cardFlex{
  display: flex;
  justify-content: start;
}
div.card{
  width: 100rem;
}
.accordionWidth{
  margin: .2rem;
}
#btnShow{
  font-size: calc(.5rem + .9vw);
  height: 6rem;
  width: 26vw;
  margin: 5px .5rem;
}

#hiddenCard{
  background-color: grey;
  font-size: calc(.5rem + .8vw);
  height: 6rem;
  padding: 5px;
  width: 58vw;
  margin-left:.5rem;
  color: black;
}
.h3Center{
  font-size: calc(1rem + .7vw);
  text-align: center;
  color: antiquewhite;
  padding-bottom: 8px;
  border-bottom: 1px solid grey;
  margin: 0;
}
.btn{
  border: 1px solid grey;
}
.text{
  display: flex;
  justify-content: center;
  font-size: calc(.8rem + .6vw);
  text-align: center;
  color: rgb(189, 186, 182);
}
.autor{
  display: flex;
  justify-content: end;
  padding: 0 1rem;
  font-size: calc(.8rem + .6vw);
  font-style: normal;
}
.cajaExperiencia{
  margin: 0;
  padding: 1rem 0;
}
.cajaBotones{
  background-color: transparent;
  border: none;
  width: auto;
  display: flex;
  justify-content: center;
}
