.bgCardFondo{
  background: rgba(22, 22, 22, 0.6);
  border: 1px solid grey;
  color: antiquewhite;
  margin: 0 1rem;
  width:initial;
}

.bgCard{
  background: rgba(22, 22, 22, 0.1);
  padding: 5px;
  border: none;
}
.cardFlex{
  display: flex;
  justify-content: start;
  margin-bottom: .5rem;
}
div.card{
  width: 100rem;
}
.accordionWidth{
  margin: .2rem;
}
#btnShow{
  font-size: calc(.5rem + .9vw);
  height: 6.5rem;
  width: 26vw;
  margin: 5px .5rem;
}

#hiddenCard{
  /* background-color: grey; */
  font-size: calc(.5rem + .8vw);
  /* height: 6.5rem; */
  width: 80vw;
  color: black;
  padding-top: .5rem;
}
.h3Center{
  display: flex;
  align-items: flex-end;
  justify-content: start;
  font-size: calc(1rem + .7vw);
  text-align: center;
  color: antiquewhite;
  padding-bottom: 8px;
  border-bottom: 1px solid grey;
  margin: 0;
}
.btn{
  border: 1px solid grey;
}
.text{
  display: flex;
  justify-content: center;
  font-size: calc(.8rem + .6vw);
  text-align: center;
  color: rgb(189, 186, 182);
  margin-top: 1rem;
  padding-top: .5rem;
}
.autor{
  color: whitesmoke;
  display: flex;
  justify-content: end;
  padding:.5rem;
  font-size: calc(.8rem + .6vw);
  font-style: normal;
}
.cajaExperiencia{
  margin: 0;
  padding: 1rem 0;
}
.cajaBotones{
  background-color: transparent;
  border: none;
  width: auto;
  display: flex;
  justify-content: center;
}
p{
  margin: 0;
}
.btnBgEdit{
  fill: grey;
}

.btnBgEdit:hover{
  fill: blue;
  background-color: darkgrey;
}
.btnBgDelete{
  fill: grey;
  background-color: rgba(0, 0, 0, .6);
  background: #000;
}
.btnBgDelete:hover{
  fill: red;
  background-color: rgba(65, 46, 46, 0.9);
  background: grey;
}
.btn_delete_position_Title{
  position:absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.btn_position_edit_title{
  position:absolute;
  top: .5rem;
  right: 3rem;
}

.bg_edit_card {
  background-color:rgb(215, 123, 123);
  border-radius: .5rem;

}
.edit_card_years_city{
  display: flex;
  align-items: center;
  margin-top: 5px;
  flex-direction: column;
  justify-content: center;

}
.label_edit_card{
  width: 6rem;
  height: auto;
  margin: 0 5px;
}
.edit_card_empresa{
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width:450px){
  .h3Center{
justify-content: center;
margin: .5rem 0;
}
.edit_card_empresa{
  flex-direction: row;
}
.edit_card_years_city{
  flex-direction: row;
}
}
.edit_Card_YearDatos{
  text-align: center;
  width: 100%;
}
