<div class="card bgCardFondo" style="width:initial">
  <div class="card-header bgCard">
      <h3 class="h3Center">EXPERIENCIA LABORAL</h3>
    <div class="card-header cajaBotones">
      <div class="container cajaExperiencia" >
          <div class="cardFlex card-body" *ngFor="let item of worksList" style="width: auto;padding:0; display: flex;justify-content: center;">
            <p >
              <button class="btn btn-dark" id="btnShow" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample" style="margin: 0" onclick="reduccion()">
                {{item.empresa}}
              </button>
            </p>
          <div>
            <div class="collapse multi-collapse" id="collapseWidthExample">
              <div class="card card-body text-center hiddenCard" style="width: 58vw;height: 6rem;margin:0 0 0 .5rem;padding: 5px;" >
                <p><strong>{{item.puesto}}: </strong>{{item.tarea}}</p>
                <p>{{item.start}}-{{item.end}} <span> / </span> {{item.city}}</p>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <footer  >
          <cite class="text" title="Source Title">"La única forma de hacer un gran trabajo es amando lo que haces"</cite>
          <cite class="autor"> - Steve Jobs</cite>
        </footer>
      </div>
    </div>
  </div>
</div>
