.bgCardFondo {
  background-color: rgba(217, 217, 186, 0.9);
  border: 1px solid grey;
  color: antiquewhite;
  margin: 0 1rem;
  width: initial;
}

.bgCard {
  background: rgba(22, 22, 22, 0.1);
  padding: 5px;
  border: none;
}

.cardFlex {
  display: flex;
  justify-content:flex-start;
  margin-bottom: .5rem;
}

div.card {
  width: 100rem;
}

.accordionWidth {
  margin: .2rem;
}

#btnShow {
  font-size: calc(.5rem + .9vw);
  height: 6.5rem;
  width: 26vw;
  margin: 5px .5rem;
}

#hiddenCard {
  font-size: calc(.7rem + .8vw);
  color: black;
  padding-top: .5rem;
}

.h3Center {
  font-size: calc(1rem + 1vw);
  text-align: center;
  color: black;
  font-weight: 500;
  padding-bottom: 8px;
  border-bottom: 1px solid black;
  margin: 1rem 0;
}

.btn {
  border: 1px solid grey;
}

.text {
  display: flex;
  justify-content: center;
  font-size: calc(.8rem + .6vw);
  text-align: center;
  color: black;
  margin-top: 1rem;
  padding-top: .5rem;
}

.autor {
  color: rgba(19, 18, 18);
  display: flex;
  justify-content:flex-end;
  padding: .5rem;
  font-size: calc(.6rem + 1vw);
  font-style: normal;
}

p {
  margin: 0;
}

.btnBgEditCard {
  fill: #0d6efd;
  color: #0d6efd;
}

.btnBgEditCard:hover {
  background: rgb(234, 232, 232);
}

.btnBgDelete {
  fill: red;
  color: red;
}

.btnBgDelete:hover {
  background: rgb(234, 232, 232);
}

.card_Row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

@media screen and (min-width:450px) {
  .h3Center {
    justify-content: center;
    margin: .5rem 0;
  }
}

.btn_position_new_title {
  display: flex;
  justify-content:flex-end;
}

.card_experienciaLaboral {
  background-color: rgb(78, 95, 140);
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div_btn_edit_frase {
  display: flex;
  justify-content:flex-end;
  margin: 8px;
}

.btn_Edit_Card {
  fill: #0d6efd;
  color: #0d6efd;
}
