<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <section class="vh-100" style="background-color: #508bfc">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem">
            <div class="card-body p-5 text-center">
              <p class="mb-2">Ingrese su usuario y clave</p>
              <hr class="my-4" />

              <form #f="ngForm" (ngSubmit)="onLogin();spinerBtn = false" novalidate>
                <div class="form-outline mb-4">
                  <label class="form-label" for="nombreUsuario">Usuario</label>
                  <input type="text" id="nombreUsuario" class="form-control form-control-lg" name="nombreUsuario"
                    [(ngModel)]="nombreUsuario" required />
                </div>

                <div class="form-outline mb-4">
                  <label class="form-label" for="password">Password</label>
                  <input type="password" id="password" class="form-control form-control-lg" name="password"
                    [(ngModel)]="password" required />
                </div>


                <div style="display: flex;justify-content: center;">
                  <button type="submit" class="btn btn-primary" ngClick="Submit">
                    <span *ngIf="spinerBtn">Login</span>
                    <div *ngIf="!spinerBtn">
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                      Login...
                    </div>
                  </button>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>

</html>
