<body>
  <div class="container" *ngIf="frases">
    <div class="row">
        <div style="display: flex;justify-content: center">
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm" style="background-color: lightblue;position: relative;;margin-top: 5rem; width: 60vw;padding: 2.5rem; border:2px solid grey; border-radius: .5rem;">
             <div >
                <h1 class="text-center fs-3 fw-bolder">FRASES CELEBRES</h1>
                <h2 style="text-align:center; border-bottom: 2px solid grey;font-size: 1.5rem;padding-bottom: .5rem;">Modifique los campos</h2>
                <button type="button" class="btn-close btn_position_home"  aria-label="Close" routerLink="/"></button>
              </div>
                <div class="input-group mb-3">
                   <span class="texto_casillero input-group-text" id="inputGroup-sizing-default" >Autor:</span>
                   <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                   id="autor" name="autor" [(ngModel)]="frases.autor" required >
                </div>
                <div class=" input-group mb-3">
                   <span class=" texto_casillero input-group-text" id="inputGroup-sizing-default" >Frase:</span>
                   <textarea type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                   id="frases" name="frases" [(ngModel)]="frases.frases" required ></textarea>
                </div>
                <div style="display: flex;justify-content: center;">
                  <button type="submit" class="btn btn-primary">Guardar cambios</button>
                </div>
            </form>
        </div>
    </div>
  </div>
  </body>
