    <div class="dropdown">
      <button
      style="margin-left: .5rem; color:white"

      class="btn btn-outline-secondary  btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"aria-expanded="false">
        Menu
      </button>
      <ul class="dropdown-menu dropdown-menu-dark" style="border: 1px solid white;text-align: center;background-color: rgba(30, 28, 28, 0.8);">
        <li><a class="dropdown-item" href="#about" style="font-weight: 300">about</a></li>
        <li><a class="dropdown-item" href="#educacion" style="font-weight: 300">educación</a></li>
        <li><a class="dropdown-item" href="#idiomas" style="font-weight: 300">idiomas</a></li>
        <li><a class="dropdown-item" href="#experiencia" style="font-weight: 300">experiencia</a></li>
        <li><a class="dropdown-item" href="#hard-soft-skills" style="font-weight: 300">Hard/soft skills</a></li>
        <li><a class="dropdown-item" href="#proyectos" style="font-weight: 300">proyectos</a></li>
        <li><a class="dropdown-item" href="#cursos" style="font-weight: 300">Cursos</a></li>
        <li><a class="dropdown-item" (click)="modal_up()" target="_blank"
          style="color:rgb(82, 158, 186);font-weight: 700; font-size: 14;"
          >Ayuda</a></li>
      </ul>
    </div>
