    <div class="dropdown">
      <button style="margin-left: .5rem;" class="btn btn-outline-secondary dropdown-toggle btn-sm" type="button" data-bs-toggle="dropdown"aria-expanded="false">
        Menu
      </button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#about">about</a></li>
        <li><a class="dropdown-item" href="#educacion">educación</a></li>
        <li><a class="dropdown-item" href="#experiencia">experiencia</a></li>
        <li><a class="dropdown-item" href="#programer">programer</a></li>
        <li><a class="dropdown-item" href="#idiomas">idiomas</a></li>
        <li><a class="dropdown-item" href="#proyectos">proyectos</a></li>
      </ul>
    </div>
