    <div class="dropdown">
      <button
      style="margin-left: .5rem; color:white"

      class="btn btn-outline-secondary  btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown"aria-expanded="false">
        Menu
      </button>
      <ul class="dropdown-menu dropdown-menu-dark" style="border: 1px solid white;text-align: center;background-color: rgba(30, 28, 28, 0.8);">
        <li><a class="dropdown-item" href="#about">about</a></li>
        <li><a class="dropdown-item" href="#educacion">educación</a></li>
        <li><a class="dropdown-item" href="#experiencia">experiencia</a></li>
        <li><a class="dropdown-item" href="#programer">programer</a></li>
        <li><a class="dropdown-item" href="#idiomas">idiomas</a></li>
        <li><a class="dropdown-item" href="#proyectos">proyectos</a></li>
      </ul>
    </div>
