<body style="display: flex;">
  <div class="container" *ngIf="cursos"
    style="background-color: lightblue;position: relative;;margin-top: 1rem; width: 60vw;height: 90%;padding: 2.5rem; border:2px solid grey; border-radius: .5rem;">
    <div class="row">
      <div style="display: flex;justify-content: center;flex-direction: column;">
        <form (ngSubmit)="onUpdate();spinerBtn = false" novalidate #f="ngForm">

          <div>
            <h1 class="text-center fs-3 fw-bolder">MODIFICAR CURSO</h1>
            <button type="button" class="btn-close btn_position_home" aria-label="Close" routerLink="/"></button>
          </div>

          <div class="input-group mb-3">
            <span class="texto_casillero input-group-text" id="inputGroup-sizing-default">Nombre:</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" id="curso" name="curso" [(ngModel)]="cursos.curso"
              required>
          </div>

          <div class="input-group mb-3">
            <span class="texto_casillero input-group-text" id="inputGroup-sizing-default">Descripción:</span>
            <input type="text" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" id="titleE" name="titleE" [(ngModel)]="cursos.descripcion"
              required>
          </div>

          <div class=" input-group mb-3">
            <span class=" texto_casillero input-group-text" id="inputGroup-sizing-default" >Imagen del Proyecto:</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
            id="imgProyecto" name="imgProyecto" [(ngModel)]="cursos.imgCurso" required >
         </div>
<!--
          <div style="display: flex;justify-content: center;margin-bottom: 1rem;">
            <button type="submit" class="btn btn-primary btn-sm" style="width: 100%;" ngClick="Submit">
              <span *ngIf="spinerBtn"><span style="font-size: 15px;">⬆️</span>Guardar textos</span>
              <div *ngIf="!spinerBtn">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                enviando...
              </div>
            </button>
          </div>
        </form>

        <form (ngSubmit)="onUpdate();spinerBtn = false" novalidate #f="ngForm">

          <div class=" input-group mb-3 input-group custom-file-button" style="height: 6rem;">
            <label class="texto_casillero input-group-text" for="inputGroupFile" id="inputGroup-sizing-default">Busca tu
              foto:</label>
            <input type="file" class="form-control" aria-label="Sizing example input"
              aria-describedby="inputGroup-sizing-default" id="inputGroupFile" name="img" (ngModel)="cursos.imgCurso"
              (change)="uploadImg($event)" accept="image/*" style="
            background-image: url({{imgService.url}});
            background-image: url({{imagen}});
            background-size: 5rem 5rem;
            background-repeat: no-repeat;
            background-position: center;
            ">

            <div class="d-flex justify-content-center" style="position: absolute;left: 50%;top: 50%;" *ngIf="isSpiner">
              <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>

          <div style="display: flex;justify-content: center;">
            <button type="submit" class="btn btn-primary btn-sm" style="width: 100%;" ngClick="Submit">
              <span *ngIf="spinerBtn">Guardar foto</span>
              <div *ngIf="!spinerBtn">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                enviando...
              </div>
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</body> -->
<div style="display: flex;justify-content: center;">
  <button type="submit" class="btn btn-primary"
    ngClick="Submit"                 >
    <span *ngIf="spinerBtn">Guardar cambios</span>
    <div *ngIf="!spinerBtn">
      <span  class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    enviando...
      </div>
    </button>
</div>
</form>
</div>
</div>
</div>
</body>
